/* Animation box */
#box {
  width: 100px;
  height: 25px;
  color: white;
  background-color: #333;
  animation-name: move-right;
  animation-duration: 2s;
  align-items: center;
}

#box1 {
  width: 100px;
  height: 25px;
  color: #FFFFFF;
  background-color: #333;
  animation-name: move-right;
  animation-duration: 2s;
  align: center;
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(330px);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: steelblue;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  font-size: 3rem;
}

.subheading {
  font-size: 1.5rem;
  color: steelblue;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.item:not(:first-child) {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.item__content {
  background-color: steelblue;
  color: #f3f3f3;
  text-align: left;
  padding: 7rem;
  border-radius: 7px;
}

.item > p {
  text-align: center;
}

.left {
  transform-origin: left center;
  transform: translateX(-50%);
}

.right {
  transform-origin: right center;
  transform: translateX(50%);
}

.slide-in {
  opacity: 1 !important;
  transform: translateX(0);
}

/* Dark/Toggle */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  transition: all 0.4s ease-in;
}

h1 {
  text-align: center;
  margin-top: 1.25rem;
  color: #f0f0f0;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.container {
  display: grid;
  width: 100%;
  min-height: calc(100vh - 4.25rem);
  place-content: center;
  gap: 1rem;
  text-align: center;
}

.dark-mode {
  background-color: #333;
  color: #f0f0f0;
  transition: all 0.4s ease-in;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 2px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(1.63rem);
}

/*  */
